<div class="mt-100 me-auto ms-auto" style="width: 500px;margin-left: 35%;">
	<mat-card class="example-card">
		<mat-card-title>Verifying</mat-card-title>

		<mat-card-content>
			Please, wait while we verity your email address...........
		</mat-card-content>
		<mat-progress-spinner mode='indeterminate' style="align-items: center;margin-left:35%;"></mat-progress-spinner>
		<mat-card-footer>
			<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
		</mat-card-footer>
	</mat-card>
</div>