<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Connecting to django:<p class="xyz">Hello world </p>

     <textarea name="" id="textarea " cols="100" rows="30"></textarea><br>
     <input type="text" id="input1" value="" ><br>
     <button type="button" id="btn1">submit

     </button>
    

    <script>
        var x = new WebSocket("ws://127.0.0.1:8000/ws/sc/")
        var v = document.getElementById('input1').value
        


        x.onopen= function(e){
            console.log("websocket is opened ....",e)
  
        }
        x.onmessage = function(e){
            console.log("websocket is on message",e)
            let ex =  document.getElementById('textarea')
            ex.innerTex=
        }
        x.onclose = function(){
            console.log("websocket is closed")
        }
        x.onerror = function(e){
            console.log("websocket is error",e)
        }
        //  x.addEventListener('open',()=>{
        //     console.log("message is opened")
        //     x.send("hello dude")
        //  })
        //  x.addEventListener('message',(event)=>{
        //     console.log("websocket message",event.data)
        //     console.log("type of data is:",typeof(event.data))


            

        //     data  = JSON.parse(event.data)
        //     console.log("type of data is:",typeof(data))
        //     let c = document.getElementsByClassName('xyz')[0].innerText=data.count
        //     console.log("type of data is after parse:",typeof(data))

        //      })
        //  x.addEventListener('closed',(event)=>{
        //     console.log("websocket is closed",event)
        //  })
        //  x.addEventListener('error',(event)=>{
        //     console.log("message is error",event)
        //  })

        u =document.getElementById('btn1')
        u.onclick = function(){
           const v = document.getElementById('input1').value
           console.log(typeof(v))
           x.send(
            JSON.stringify({
                'msg':v
            })
            )
            document.getElementById('input1').value=''
          
        }




    </script>
</body>
</html>